html {
  background-image: url("https://content.delta.com/content/www/en_US/traveling-with-us/airports-and-aircraft/Aircraft.damAsset.20161209T1554207260500.html/content/dam/delta-tnt/homepage/hero/4/delta-plane-at-sunset-1600.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  color: white;
  font-size: 40px;
}

body {
  min-height: 100vh;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}
/* body,html{
  height: 100%;
  
} */

img {
  max-width: 300px;
  max-height: 100px;
}

.flight-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flight-box {
  margin: 0 10px;
}

.flight-table {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}
